.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding: 20px;
}

.grid div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.grid div h3 {
    font-size: 2.5em;
    color: white;
    font-weight: bold;
    background-color: #668A4C;
    padding: 10px;
    border-radius: 25px;
    margin: 0;
}


.cardmascota {
    padding-bottom: 20px;
    background-color: #accb7b;
}
.cardmascota div select{
    width: 100%;
    text-align: center;
}

.aside {
    position: sticky;
    top: 0;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 25px;
    background-color: #668A4C;
    height: fit-content;
}

/* media queries*/
@media (max-width: 540px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .aside{
        order: -1;
        position:relative;
    }
}
