.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    padding: 15px;
    text-align: center;
    color: white;
}

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation a {
    text-decoration: none;
    color: white;
        padding: 3px;
}
.navigation a:hover {
    background-color: black;
        padding: 3px;
}